@media screen and (max-width: 860px) {
    .offer__list-item {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 860px) and (max-width: 1115px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1115px) and (max-width: 1365px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1365px) and (max-width: 1625px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1625px) {
    .offer__list-item {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1055px) {
    .header__search {
        width: 100%;
        padding-right: 8px;
    }

    .header__search #search-input {
        display: none;
    }
}